html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  @extend %gilroy-400;
  font-size: 16px;
  line-height: 1.5;
  color: $text;
  overflow-x: hidden;
}

.main {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.hide-overflow {
  overflow: hidden;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.block-inner {
  padding: 29px 49px 0;
}

.logo {
  width: 55px;
  height: 68px;
}

.link-btn {
  display: inline-block;
  @extend %gilroy-800;
  color: #fff;
  text-align: center;
  background: linear-gradient(279.5deg, #5ad4fa -3.85%, #2bb3dd 114.74%);
  box-shadow: 0px 0px 20px rgba(176, 193, 199, 0.5);
  border-radius: 20px;
  padding: 15px 32px;
  will-change: transform;
  transition: all 0.3s;
  overflow: hidden;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: -30px;
    left: -40px;
    width: 15px;
    height: 140px;
    background-color: #f3f3f3;
    box-shadow: 0 0 10px #fff;
    filter: blur(3px);
    opacity: 0.8;
    transition: all 0.6s;
    transition-delay: 0.05s;
    transform: rotate(-50deg);
  }
  &:hover {
    transform: scale(1.03);
    &::before {
      left: 150%;
    }
  }
}

.light-link-btn {
  display: inline-block;
  padding: 11px 23px;
  @extend %gilroy-700;
  color: #3abde6;
  text-align: center;
  background-color: #fafdfe;
  border: 2px solid #3abde6;
  border-radius: 20px;
  filter: drop-shadow(0px 0px 20px rgba(176, 193, 199, 0.45));
  transition: all 0.3s ease;
  &:hover {
    background-color: #2bb3dd;
    border-color: transparent;
    color: #fff;
  }
}

.title {
  font-size: 50px;
  line-height: 1.1;
  color: $title;
}

.link-focus {
  &:focus-visible {
    outline: none;
  }
  &:focus-visible::before {
    outline: 2px solid $default;
    outline-offset: -2px;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: all 0.2s ease-out;
    z-index: 10;
  }
}

.img-box {
  position: relative;
}

.link-arrow {
  display: inline-block;
  &::after {
    content: "";
    display: block;
    width: 151px;
    height: 23px;
    background-image: url("../images/icons/link-arrow.svg");
    transition: all 0.3s ease-out;
  }
  transition: all 0.15s ease-out;
  &:hover {
    color: $default;
    &::after {
      transform: translateX(15px);
    }
  }
}
