html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  @extend %gilroy-400;
  font-size: 16px;
  line-height: 1.5;
  color: $default;
  overflow-x: hidden;
}

.main {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.logo {
  width: 55px;
  height: 68px;
}
