html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  @extend %gilroy-400;
  font-size: 16px;
  line-height: 1.5;
  color: $text;
  overflow-x: hidden;
}

.main {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.logo {
  width: 55px;
  height: 68px;
}

.link-btn {
  @extend %gilroy-800;
  color: #fff;
  background: linear-gradient(279.5deg, #5ad4fa -3.85%, #2bb3dd 114.74%);
  box-shadow: 0px 0px 20px rgba(176, 193, 199, 0.5);
  border-radius: 20px;
  padding: 15px 32px;
  display: inline-block;
}

.title {
  font-size: 50px;
  line-height: 1.1;
  color: $title;
}

.link-focus {
  &:focus-visible {
    outline: none;
  }
  &:focus-visible::before {
    outline: 2px solid $default;
    outline-offset: -2px;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: all 0.2s ease-out;
    z-index: 10;
  }
}

.img-box{
  position: relative;
}

.link-arrow {
    display: inline-block;
    &::after {
      content: "";
      display: block;
      width: 151px;
      height: 23px;
      background-image: url("../images/icons/link-arrow.svg");
    }
  } 