$default: #222;
$title: rgba($default, 0.9);
$darker: rgba($default, 0.8);
$text: rgba($default, 0.7);
$lighter: rgba($default, 0.6);
$box-one: #EDF6F9;
$box-two: #F9F0F3;

%gilroy-300 {
  font-family: "gilroy-light", sans-serif;
}
%gilroy-400 {
  font-family: "gilroy-regular", sans-serif;
}
%gilroy-500 {
  font-family: "gilroy-medium", sans-serif;
}
%gilroy-600 {
  font-family: "gilroy-semibold", sans-serif;
}
%gilroy-700 {
  font-family: "gilroy-bold", sans-serif;
}
%gilroy-800 {
  font-family: "gilroy-extrabold", sans-serif;
}
