@import "fonts";
@import "vars";
@import "reset";
@import "libs";
@import "global";

//----------- header -----------

.header {
  padding: 35px 0 44px;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  &__list {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    gap: 55px;
    @extend %gilroy-300;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: $default;
  }
  &__link {
    transition: all 0.2s;
    &--active {
      border-bottom: 1px solid #222222;
      &:hover {
        border-color: #2bb3dd;
      }
    }
    &:hover {
      color: #2bb3dd;
    }
  }
}

.socials {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  gap: 11px;
  &__link {
    display: flex;
    padding: 5px;
    path {
      transition: all 0.2s;
    }
    &:hover {
      path {
        fill: #2bb3dd;
      }
    }
  }
}

//----------- main -----------

//----------- intro -----------

.intro {
  background-repeat: no-repeat;
  background-position: right;
  padding-bottom: 49px;
  margin-bottom: 56px;
  p {
    max-width: 477px;
    margin-bottom: 24px;
  }
  &__content {
    padding-top: 19px;
    max-width: 602px;
  }
  &__following {
    @extend %gilroy-300;
    line-height: 1.2;
    display: inline-flex;
    align-items: center;
    margin-bottom: 8px;
    color: $darker;
    span {
      display: inline-block;
      margin-right: 10px;
      border-bottom: 1px solid $darker;
    }
    svg {
      transition: all 0.2s;
    }
    &:hover {
      svg {
        transform: translateX(7px);
      }
    }
  }
  &__title {
    @extend %gilroy-800;
    font-size: 50px;
    line-height: 1.1;
    color: $default;
    margin-bottom: 11px;
  }
  &__program {
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid #dfdfdf;
    box-shadow: 3px 3px 25px rgba(185, 185, 185, 0.2);
    backdrop-filter: blur(15px);
    border-radius: 20px;
    padding: 18px 32px 29px;
    width: 482px;
    margin-bottom: 27px;
    background-image: url(../images/content/program-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    span {
      display: inline-block;
      margin-bottom: 9px;
    }
  }
  &__item {
    padding-left: 28px;
    position: relative;
    &:not(:last-child) {
      margin-bottom: 5px;
    }
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 12px;
      width: 19px;
      height: 1px;
      background-color: $default;
    }
  }
}

.offer {
  &__bottom {
    display: flex;
    align-items: center;
  }
  &__link-btn {
    margin-right: 33px;
  }
  &__bonus {
    max-width: 236px;
    font-size: 12px;
    padding-left: 40px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 38px;
      height: 41px;
      background-image: url("../images/icons/gift.svg");
      background-repeat: no-repeat;
    }
  }
}

//----------- suitable -----------

.suitable {
  padding-top: 36px;
  margin-bottom: 44px;
  position: relative;
  &__bg {
    position: absolute;
    top: -44px;
    right: -47px;
    bottom: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: right;
  }
  &__inner {
    padding: 29px 49px 79px;
    background-color: $box-one;
    border-radius: 20px;
  }
  &__content {
    max-width: 602px;
    position: relative;
  }
  &__title {
    margin-bottom: 34px;
  }
  &__item {
    padding-left: 85px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 3px;
      left: 0;
      background-image: url("../images/icons/puzzles.svg");
      width: 49px;
      height: 38px;
    }
    &:not(:last-child) {
      margin-bottom: 29px;
    }
  }
}

//----------- results -----------

.results {
  padding: 29px 49px 69px;
  background-color: $box-two;
  border-radius: 20px;
  position: relative;
  &__bg {
    position: absolute;
    top: 63px;
    right: 0;
    bottom: 0;
    left: -71px;
    background-repeat: no-repeat;
    background-position: left;
  }
  &__title {
    margin-bottom: 31px;
  }
  &__list {
    width: max-content;
    margin-left: auto;
  }
  &__item {
    max-width: 568px;
    padding-left: 83px;
    position: relative;
    min-height: 49px;
    &::before {
      content: "";
      position: absolute;
      top: 5px;
      left: 0;
      background-image: url("../images/icons/check.svg");
      width: 47px;
      height: 39px;
    }
    &:not(:last-child) {
      margin-bottom: 29px;
    }
    &:last-child {
      @extend %gilroy-600;
    }
  }
}

//----------- introductory -----------

.introductory {
  padding: 100px 0;
  display: flex;
  justify-content: space-between;
  p {
    margin-bottom: 28px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      bottom: -84px;
      left: 230px;
      width: 92px;
      height: 92px;
      background-image: url("../images/icons/arrow.png");
      transform: rotate(356deg);
    }
  }
  &__content {
    max-width: 627px;
  }
  &__title {
    margin-bottom: 15px;
  }
  &__link-btn {
    padding: 15px 35px;
  }
  &__results {
    padding: 29px 61px 26px 51px;
    background-color: $box-one;
    border-radius: 16px;
  }
  &__list {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(2, auto);
    grid-auto-columns: 184px;
    row-gap: 17px;
  }
  &__item {
    color: $darker;
    padding: 5px 0 0 12px;
    position: relative;
    z-index: 1;
    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      width: 27px;
      height: 27px;
      background-color: #f8c1d5;
      border-radius: 50%;
    }
    &:nth-child(4n)::before,
    &:nth-child(4n + 1)::before {
      background-color: #98e5fd;
    }
  }
}

//----------- benefits -----------

.benefits {
  padding: 25px 49px 100px;
  background-color: $box-two;
  border-radius: 20px;
  height: 702px;
  background-repeat: no-repeat;
  background-position: center bottom;
  position: relative;
  margin-bottom: 44px;
  &__title {
    margin-bottom: 84px;
  }
  &__item {
    display: inline-block;
    padding: 10px 25px;
    color: rgba(#000, 0.7);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 2px 2px 20px rgba(185, 185, 185, 0.15);
    backdrop-filter: blur(4px);
    position: absolute;
    span {
      @extend %gilroy-600;
    }
    &:nth-child(1) {
      bottom: 100px;
      left: 8%;
    }
    &:nth-child(2) {
      bottom: 222px;
      left: 9%;
    }
    &:nth-child(3) {
      bottom: 344px;
      left: 18%;
    }
    &:nth-child(4) {
      bottom: 444px;
      left: 31%;
    }
    &:nth-child(5) {
      bottom: 471px;
      right: 32%;
    }
    &:nth-child(6) {
      bottom: 345px;
      right: 14%;
    }
    &:nth-child(7) {
      bottom: 223px;
      right: 4%;
    }
    &:nth-child(8) {
      bottom: 100px;
      right: 8%;
    }
  }
}

// box

.box {
  padding: 27px 49px 47px;
  background-color: $box-one;
  border-radius: 20px;
}

//----------- teachers -----------

.teachers {
  margin-bottom: 100px;
  &__title {
    line-height: 1.2;
    margin-bottom: 42px;
    span {
      @extend %gilroy-700;
    }
  }
  &__list {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    display: grid; // для прижатия ссылки к низу
    grid-template-rows: 262px auto;
    width: 336px;
    border-radius: 30px;
    background-color: #fafdfe;
    overflow: hidden;
  }
  &__img {
    width: 336px;
    height: 262px;
    object-fit: cover;
  }
  &__content {
    padding: 21px 35px 34px;
    min-height: 228px;
    display: flex; // для прижатия ссылки к низу
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__teacher {
    margin-bottom: 12px;
    span {
      @extend %gilroy-700;
      font-size: 17px;
    }
  }
  p {
    margin-bottom: 15px;
  }
}

//----------- photos -----------

.photos {
  margin-bottom: 100px;
  &__title {
    margin-bottom: 54px;
  }
  &__slider {
    margin-bottom: 33px;
  }
  &__slide {
    margin: 0 50px;
    picture {
      display: block;
      border: 1px solid rgba(223, 223, 223, 0.6);
      box-shadow: 3px 3px 25px rgba(185, 185, 185, 0.15);
      border-radius: 30px;
      overflow: hidden;
    }
  }
  &__img {
    max-width: 754px;
    width: 100%;
    height: 435px;
    object-fit: cover;
  }
  .slick-list {
    max-width: 854px;
    margin: 0 auto;
  }
  .slick-arrow {
    position: absolute;
    top: 131px;
    padding: 40px;
    path {
      transition: all 0.15s linear;
    }
    &:hover {
      path {
        stroke: $default;
      }
    }
  }
  .slick-prev {
    left: 14px;
  }
  .slick-next {
    right: 14px;
  }
  .slick-dots {
    display: flex;
    justify-content: center;
    padding-top: 26px;
    li {
      &:not(:last-child) {
        margin-right: 19px;
      }
      &.slick-active {
        button {
          background-color: #bfcbcf;
        }
      }
      button {
        display: block;
        font-size: 0;
        width: 10px;
        height: 10px;
        border: 1px solid #bfcbcf;
        border-radius: 50%;
      }
    }
  }
  .link-box {
    display: flex;
    justify-content: end;
    max-width: 854px;
    margin: 0 auto;
  }
  &__link {
    margin-right: 50px;
  }
}

//----------- lesson -----------

.lesson {
  padding-bottom: 38px;
  background-repeat: no-repeat;
  background-position: bottom -42px left -54px;
  &__title {
    line-height: 1.2;
    margin-bottom: 50px;
  }
  &__form {
    max-width: 463px;
    display: grid;
    row-gap: 17px;
    margin: 0 71px 0 auto;
  }
  &__input,
  &__select {
    display: block;
    width: 100%;
    padding: 16px 25px;
    background-color: #ffffff;
    border: 1px solid rgba(183, 183, 183, 0.9);
    border-radius: 20px;
    font-size: 12px;
    @extend %gilroy-300;
    color: $darker;
  }
  input[type="number"] {
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    -moz-appearance: textfield;
  }
  input::placeholder {
    color: $darker;
  }
  input::-moz-placeholder {
    color: $darker;
    opacity: 1;
  }
  &__select {
    appearance: none;
    background-image: url("../images/icons/angle-down.svg");
    background-repeat: no-repeat;
    background-position: center right 23px;
  }
  &__option {
    color: $darker;
    font-size: 16px;
  }
  &__form-box {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
    column-gap: 17px;
  }
}

//----------- video -----------

.video {
  padding: 100px 53px 100px 0;
  display: flex;
  justify-content: space-between;
  &__title {
    max-width: 611px;
    line-height: 1.2;
  }
  &__card {
    width: 500px;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0px 0px 25px rgba(185, 185, 185, 0.2);
    overflow: hidden;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 57px;
      width: 120px;
      height: 120px;
      border-radius: 50%;
      background: linear-gradient(37.84deg, #ee7070 9.27%, #f78a8a 107.03%);
      box-shadow: 0px 0px 15px rgba(185, 185, 185, 0.3);
      z-index: 1;
    }
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 95px;
      background-color: fff;
      border-width: 16px 0 16px 30px;
      border-style: solid;
      border-color: transparent transparent transparent #fff;
      z-index: 1;
    }
    .link-focus {
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 57px;
        width: 120px;
        height: 120px;
        border-radius: 50%;
        background-color: #df9696;
        z-index: 0;
        animation: pulse 1150ms infinite;
      }
      &::before {
        border-radius: 30px;
      }
    }
  }
  &__img {
    width: 265px;
    height: 189px;
    object-fit: cover;
  }
}

@keyframes pulse {
  0% {
    transform: translateY(-50%) scale(1);
    opacity: 0.6;
  }
  100% {
    transform: translateY(-50%) scale(1.4);
    opacity: 0;
  }
}

//----------- programs -----------

.programs {
  padding: 29px 53px 47px;
  background-color: $box-two;
  border-radius: 20px;
  margin-bottom: 44px;
  &__title {
    max-width: 964px;
    line-height: 1.2;
    margin-bottom: 68px;
  }
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__list {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    max-width: 432px;
    width: 100%;
    display: flex; // для прижатия ссылки к низу
    flex-direction: column;
    justify-content: space-between;
    padding: 48px 33px 59px 58px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #dfdfdf;
    border-radius: 20px;
    box-shadow: 3px 3px 25px rgba(185, 185, 185, 0.15);
    &:not(:last-child) {
      margin-right: 28px;
    }
  }
  &__link {
    display: inline-block;
    margin-bottom: 27px;
  }
  &__supname {
    @extend %gilroy-300;
    color: $lighter;
  }
  &__name {
    @extend %gilroy-800;
    font-size: 24px;
    color: $darker;
    text-decoration: underline;
  }
  p {
    margin-bottom: 38px;
  }
  &__descr {
    margin-bottom: 27px;
  }
  &__details {
    display: inline-flex;
    align-items: center;
    line-height: 1;
    span {
      display: inline-block;
      margin-right: 11px;
      border-bottom: 1px solid $darker;
    }
    svg {
      transition: all 0.2s;
    }
    &:hover {
      svg {
        transform: translateX(7px);
      }
    }
  }
}

//----------- offer-block -----------

.offer-block {
  padding: 29px 53px 55px;
  background-color: $box-one;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-position: right;
  &__content {
    max-width: 596px;
    p {
      margin-bottom: 15px;
    }
  }
  &__title {
    line-height: 1.2;
    margin-bottom: 27px;
  }
  &__list {
    padding-left: 25px;
    margin-bottom: 33px;
  }
  &__item {
    &:not(:last-child) {
      margin-bottom: 6px;
    }
  }
}

//----------- activity -----------

.activity {
  padding: 100px 0;
  &__title {
    line-height: 1.2;
    margin-bottom: 45px;
  }
  &__list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 33px;
  }
  &__item {
    display: grid; // для прижатия ссылки к низу
    grid-template-rows: 277px auto;
    width: 358px;
    background-color: #fff;
    border: 1px solid rgba(223, 223, 223, 0.6);
    border-radius: 30px;
    box-shadow: 3px 3px 25px rgba(185, 185, 185, 0.15);
    overflow: hidden;
  }
  &__img {
    width: 358px;
    height: 277px;
    object-fit: cover;
  }
  &__content {
    min-height: 265px;
    padding: 28px 35px 36px;
    display: flex; // для прижатия ссылки к низу
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__date {
    @extend %gilroy-300;
    font-size: 12px;
    color: $darker;
    margin-bottom: 5px;
  }
  &__name {
    @extend %gilroy-700;
    font-size: 17px;
    line-height: 1.4;
    margin-bottom: 5px;
  }
  p {
    margin-bottom: 15px;
  }
  .light-link-btn {
    padding: 15px 35px;
  }
  &__link-box {
    display: flex;
    justify-content: flex-end;
  }
}

//----------- footer -----------

.footer {
  padding: 39px 0 68px;
  background-color: #2bb3dd;
  color: #fff;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__nav {
    display: grid;
    grid-auto-flow: column;
    gap: 56px;
  }
  &__nav-block {
    display: flex;
    flex-direction: column;
  }
  &__title-link:not(:only-child) {
    margin-bottom: 5px;
  }
  &__title {
    @extend %gilroy-700;
    text-transform: uppercase;
  }
  &__title,
  &__link {
    transition: all 0.2s;
    &:hover {
      opacity: 0.7;
    }
  }
  &__label {
    @extend %gilroy-700;
    display: block;
    padding-left: 7px;
    margin-bottom: 5px;
  }
  &__form-box {
    display: flex;
    margin-bottom: 10px;
  }
  &__input {
    padding: 13px 25px;
    width: 200px;
    box-shadow: inset 2px 3px 6px rgba(123, 123, 123, 0.2);
    border: none;
    border-radius: 20px;
    @extend %gilroy-300;
    font-size: 12px;
    color: $default;
    margin-right: 7px;
  }
  &__form-btn {
    width: 60px;
    height: 44px;
    background: linear-gradient(293.58deg, #f8c1c5 -32.47%, #e96f9b 122.25%);
    box-shadow: inset 2px 3px 6px rgba(123, 123, 123, 0.2);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .socials {
    padding-left: 7px;
    gap: 5px;
    path {
      fill: #fff;
    }
  }
}

@import "media";
